/* style.css */

html,
body {
  height: 100%;
}

h1 {
  font-family: 'Righteous', cursive;
  text-align: center;
}

.input-box {
    font-family: 'Righteous', cursive;
    text-align: center;
}

#mapid { height: 400px; }

